PORT=5000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.hm6o1n7.mongodb.net/?appName=Cluster0
CLIENT_URL=http://localhost:3000
JWT_SECRET=3beb827ea1af0ad586e3995da8e9f2ef7d8f5d002acd8051a65c1af82451a75384965df2bf5881ded82f4ca8b29542b2fe6d866ad3e3075c249d75cc7c21d2e0
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:5000/api/auth/google/callback
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=